<footer class="text-center text-white" style="background-color: #caced1;">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Images -->
    <section class="">
      <div class="row">
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
            <img src="https://img-premium.flaticon.com/png/512/733/733585.png?token=exp=1622174203~hmac=c12319a9d1535b96534cd28803121f48"
              class="w-50"  class="row"> <h3>9933225515</h3>
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
            <a href="https://www.facebook.com/besodeangelcf" target="_blank">
              <img src="https://img-premium.flaticon.com/png/512/1384/1384053.png?token=exp=1622174200~hmac=5c417802d5400e36b5fc96382cf2e787" class="w-50" />
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
            <img src="https://img-premium.flaticon.com/png/512/174/174876.png?token=exp=1622174215~hmac=a72c78722276a2c4624f782cfb4889cc"
              class="w-50" />
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
            <a href="https://www.instagram.com/besodeangelcf/?utm_medium=copy_link" target="_blank">
            <img src="https://img-premium.flaticon.com/png/512/174/174855.png?token=exp=1622173934~hmac=3bd0741bcb8a703c275faba79c2789e5" class="w-50" />
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- Section: Images -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <i class="far fa-copyright"></i>
    <a class="text-white" href="/">Beso De Angel.com</a>
  </div>
  <!-- Copyright -->
</footer>