
  <footer class="bg-black text-center text-lg-start">
    <nav class="navbar navbar-expand-lg navbar-dark bg-black">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#footer"
                aria-controls="footer" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="footer">
                <ul class="navbar-nav nav-fill w-100">
                    <li class="nav-item">
                        <a class="navbar-brand" href="https://www.facebook.com/besodeangelcf" target="_blank"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-brand" aria-current="page" href="https://www.instagram.com/besodeangelcf/?utm_medium=copy_link" target="_blank"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-brand" href="https://www.twitter.com/"><i class="fab fa-twitter" target="_blank"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-brand" href="https://www.whatsapp.com/"><i class="fab fa-whatsapp" target="_blank"> +52933884584 </i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Copyright -->
    <div class="text-center p-3 text-light" style="background-color: rgba(255, 255, 255, 0.2);">
      BesoDeAngel © 2021 Copyright:
      <a class="text-light" href="/">Beso De Angel.com</a>
    </div>
    <!-- Copyright -->
  </footer>
</footer>