<%- include ./header.ejs %>


<main role="main" class="flex-shrink-0">
    <div class="jumbotron fondo">
      <div class="container ">
        <h1>Bienvenido A La Pagina Delicias</h1>
        <h3>Esta es una empresa 100% centrada en la venta de deliciosos postres .</h3>
<!-- Trigger the modal with a button -->
      </div>
    </div>
      

   
    <footer class="text-center">ITVH 2021</footer>
</body>
</html>