<%- include ./header.ejs %>


<div class="card">
  <img src="../images/logo.jpg" class="img-thumbnail" alt="Portad beso de angel">
</div>
<div class="">
</div>
<section id="mapa" class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Mapa de primera locacion</h1>
      <p class="lead text-muted">Mapa.</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3794.617169432866!2d-92.94330427865263!3d17.996539544555567!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85edd71f9028ca4d%3A0xe92e41b2710407c3!2sYuju%20Chocoavenas!5e0!3m2!1ses-419!2smx!4v1622018018910!5m2!1ses-419!2smx" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
  </div>
</section>
<%- include ./footer.ejs %>
</body>
</html>