<%- include ./header.ejs %>


<div class="card">
  <img src="../images/logo.jpg" class="img-thumbnail" alt="Portad beso de angel">
</div>
<div class="">
</div>

<%- include ./footer.ejs %>
</body>
</html>