<%- include ./header.ejs %>
<!-- hitwebcounter Code START -->
<h5>visitas</h5>
<!--a href="https://www.hitwebcounter.com" target="_blank">
  <img src="https://hitwebcounter.com/counter/counter.php?page=7820198&style=0001&nbdigits=5&type=page&initCount=0" title="Free Counter" Alt="web counter"/> 
</a-->
<!-- hitwebcounter Code START -->
<a href="https://www.hitwebcounter.com" target="_blank">
  <img src="https://hitwebcounter.com/counter/counter.php?page=7820215&style=0038&nbdigits=5&type=ip&initCount=0" title="Free Counter" Alt="web counter"   border="0" /></a>    
<!--Carrusel de fotos-->
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">

    <div class="carousel-item active">
      <img src="/images/logo.jpg" class="d-block w-100"style="height: 500PX;">
    </div>
    <div class="carousel-item">
      <img src="/images/1.jpg" class="d-block w-100" style="height: 500PX;">
    </div>
    <div class="carousel-item">
      <img src="/images/Locacion1.jpg" class="d-block w-100" style="height: 500PX;">
    </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<%- include ./footer.ejs %>
</body>
</html>