<%- include ./header.ejs %>
    <main>
        <div class="album py-5 ">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3795.00182705113!2d-92.92863188560982!3d17.978651990215916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85edd832b353959f%3A0xc4052eed4cdd8c82!2sAv%20Esperanza%20Iris%2C%20Villahermosa%2C%20Tab.!5e0!3m2!1ses-419!2smx!4v1622275795566!5m2!1ses-419!2smx"
                                width="360" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                            <div class="card-body">
                                <p class="card-text">SUCURSAL 1.</p>
                                <div class="d-flex justify-content-between align-items-center">                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3794.5990657170764!2d-92.94104988560947!3d17.99738098966338!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85edd78a3e1a79cb%3A0x94f7c320ea9ea373!2sParque%20Tom%C3%A1s%20Garrido%20Canabal!5e0!3m2!1ses-419!2smx!4v1622275292127!5m2!1ses-419!2smx"
                                width="360" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                            <div class="card-body">
                                <p class="card-text">SUCURSAL 2.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3794.176655005549!2d-92.95796118560921!3d18.0170034890838!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85edd7e708c87a51%3A0x88899fbea98a3063!2sPaque%20Pollo!5e0!3m2!1ses-419!2smx!4v1622275631533!5m2!1ses-419!2smx"
                                width="360" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                            <div class="card-body">
                                <p class="card-text">SUCURSAL 3.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                </div>
                            </div>
                        </div><hr>

                        <div class="col">
                            <div class="card shadow-sm">
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3794.5001359228877!2d-92.95662208560938!3d18.00197848952764!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85edd727c89f458f%3A0xf98e77ee76317f9f!2sLa%20Antojer%C3%ADa%20Food%20Park!5e0!3m2!1ses-419!2smx!4v1622275997378!5m2!1ses-419!2smx"
                                    width="360" height="300" style="border:0;" allowfullscreen=""
                                    loading="lazy"></iframe>
                                <div class="card-body">
                                    <p class="card-text">SUCURSAL 4.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </main>
    <%- include ./footer.ejs %>
        </body>

        </html>